In [1]:
from PIL import Image as im
from tqdm import tqdm
import os
import time
import imageio as iio
import requests
import pandas as pd

# Download language data from https://www.worlddata.info/languages/index.php

In [2]:
# scraping website html data
from bs4 import BeautifulSoup
url = "https://www.worlddata.info/languages/index.php"
html = requests.get(url).content

soup = BeautifulSoup(html)
table = soup.select("td , th")

th_all = soup.find_all('th')

In [3]:
# getting headers
col_names = []
for x in th_all:
    col_names.append(x.text)

df = pd.DataFrame(columns=col_names)

# adding data in row by row
ratio = soup.findAll('tr')
ind = 0

# everything past the header row
for x in ratio[1:]:
    row = []
    
    # get each value for each column
    for y in x:
        row.append(y.text)
        
    # append row to dataframe
    df.loc[ind] = row
    ind += 1
    
# df.to_csv('worlddata_main_table.csv')

In [4]:
df_total = df.copy()

In [5]:
df_total['Mother tongue'].unique()

array(['Chinese', 'Hindi', 'English', 'Spanish', 'Arabic', 'Bengali',
       'Portuguese', 'Russian', 'Punjabi', 'Japanese', 'Javanese',
       'Telugu', 'Marathi', 'French', 'German', 'Urdu', 'Tamil',
       'Vietnamese', 'Korean', 'Turkish', 'Gujarati', 'Italian',
       'Persian', 'Hausa', 'Malay', 'Kannada', 'Pashto', 'Yoruba',
       'Tagalog', 'Oriya'], dtype=object)

## Language code mapping

In [6]:
# scraping website html data
from bs4 import BeautifulSoup
url = "https://meta.wikimedia.org/wiki/Template:List_of_language_names_ordered_by_code"
html = requests.get(url).content

soup = BeautifulSoup(html)
table = soup.select("td , th")

th_all = soup.find_all('th')

In [7]:
# getting headers
col_names = []
for x in th_all[0:6:]:
    col_names.append(x.text)

In [8]:
df = pd.DataFrame(columns=col_names)

# adding data in row by row
ratio = soup.findAll('tr')
ind = 0

# everything past the header row
for x in ratio[1:]:
    row = []
    
    # get each value for each column
    for y in x:
        i_string = str(y.string)
        try:
            if i_string != '\n':
                i_string = i_string.replace('\n', '')        
                row.append(i_string)
        except:
            row.append(None)
                
    row.append(None)
    if len(row) < 6:
        row.append(None)
    row = row[0:6]
    
    # append row to dataframe
    try:
        df.loc[ind] = row
    except:
        pass
    
    ind += 1
    
# df.to_csv('worlddata_main_table.csv')

In [9]:
language_mapping = df

In [10]:
language_mapping.head()

,code,Englishlanguage name,directionality,locallanguage name,local or EnglishWikipedia article,comment\n
0,aa,Afar,ltr,Afar,None,None
1,ab,Abkhazian,ltr,Аҧсуа,None,None
2,af,Afrikaans,ltr,Afrikaans,None,None
3,ak,Akan,ltr,Akana,None,None
4,als,Alemannic,ltr,Alemannisch,None,None

# getting individual page tables

In [11]:
 # getting hyperlinks to all lanague pages
urls = soup.select('td:nth-child(1) a')
links = []
for url in urls:
    links.append(url['href'])

In [12]:
def get_table(link):

    url = 'https://www.worlddata.info/languages/' + link + '.php'
    print (url)
    html = requests.get(url).content

    soup = BeautifulSoup(html)
    table = soup.select("td , th")

    th_all = soup.find_all('th')
    
    # getting headers
    col_names = []
    for x in th_all:
        col_names.append(x.text)

    df = pd.DataFrame(columns=col_names)
    # adding data in row by row
    ratio = soup.findAll('tr')
    ind = 0

    # everything past the header row
    for x in ratio[1:]:
        row = []

        # get each value for each column
        for y in x:
            row.append(y.text)

        # append row to dataframe
        df.loc[ind] = row
        ind += 1
    
    # adding in base page name
    lang = link.replace('/languages/', '').replace('.php', '').capitalize()
    df['Language'] = lang
    
    time.sleep(0.5)
    
    return df

In [13]:
 # getting hyperlinks to all lanague pages
urls = language_mapping['Englishlanguage name'].str.lower().unique()
links = []
for url in urls:
    if '/' not in url: 
        links.append(url)

In [14]:
df = pd.DataFrame()
for link in links:
    df1= get_table(link)
    df = df.append(df1, ignore_index=True)

https://www.worlddata.info/languages/afar.php
https://www.worlddata.info/languages/abkhazian.php
https://www.worlddata.info/languages/afrikaans.php
https://www.worlddata.info/languages/akan.php
https://www.worlddata.info/languages/alemannic.php
https://www.worlddata.info/languages/amharic.php
https://www.worlddata.info/languages/aragonese.php
https://www.worlddata.info/languages/angal.php
https://www.worlddata.info/languages/arabic.php
https://www.worlddata.info/languages/aramaic.php
https://www.worlddata.info/languages/egyptian arabic.php
https://www.worlddata.info/languages/assamese.php
https://www.worlddata.info/languages/asturian.php
https://www.worlddata.info/languages/avar.php
https://www.worlddata.info/languages/awadhi.php
https://www.worlddata.info/languages/aymara.php
https://www.worlddata.info/languages/azerbaijani.php
https://www.worlddata.info/languages/bashkir.php
https://www.worlddata.info/languages/bavarian.php
https://www.worlddata.info/languages/samogitian.php
https://www.worlddata.info/languages/bikol.php
https://www.worlddata.info/languages/belarusian.php
https://www.worlddata.info/languages/belarusian (taraškievica).php
https://www.worlddata.info/languages/bulgarian.php
https://www.worlddata.info/languages/bihari.php
https://www.worlddata.info/languages/bislama.php
https://www.worlddata.info/languages/bambara.php
https://www.worlddata.info/languages/bengali.php
https://www.worlddata.info/languages/tibetan.php
https://www.worlddata.info/languages/bishnupriya manipuri.php
https://www.worlddata.info/languages/breton.php
https://www.worlddata.info/languages/boro.php
https://www.worlddata.info/languages/bosnian.php
https://www.worlddata.info/languages/buginese.php
https://www.worlddata.info/languages/buriat (russia).php
https://www.worlddata.info/languages/catalan.php
https://www.worlddata.info/languages/min dong chinese.php
https://www.worlddata.info/languages/chechen.php
https://www.worlddata.info/languages/cebuano.php
https://www.worlddata.info/languages/chamorro.php
https://www.worlddata.info/languages/choctaw.php
https://www.worlddata.info/languages/cherokee.php
https://www.worlddata.info/languages/cheyenne.php
https://www.worlddata.info/languages/kurdish (sorani).php
https://www.worlddata.info/languages/corsican.php
https://www.worlddata.info/languages/cree.php
https://www.worlddata.info/languages/montenegrin.php
https://www.worlddata.info/languages/czech.php
https://www.worlddata.info/languages/kashubian.php
https://www.worlddata.info/languages/chuvash.php
https://www.worlddata.info/languages/welsh.php
https://www.worlddata.info/languages/danish.php
https://www.worlddata.info/languages/german.php
https://www.worlddata.info/languages/dimli.php
https://www.worlddata.info/languages/lower sorbian.php
https://www.worlddata.info/languages/divehi.php
https://www.worlddata.info/languages/dzongkha.php
https://www.worlddata.info/languages/ewe.php
https://www.worlddata.info/languages/greek.php
https://www.worlddata.info/languages/english.php
https://www.worlddata.info/languages/esperanto.php
https://www.worlddata.info/languages/spanish.php
https://www.worlddata.info/languages/estonian.php
https://www.worlddata.info/languages/basque.php
https://www.worlddata.info/languages/extremaduran.php
https://www.worlddata.info/languages/persian.php
https://www.worlddata.info/languages/peul.php
https://www.worlddata.info/languages/finnish.php
https://www.worlddata.info/languages/võro.php
https://www.worlddata.info/languages/fijian.php
https://www.worlddata.info/languages/faroese.php
https://www.worlddata.info/languages/french.php
https://www.worlddata.info/languages/friulian.php
https://www.worlddata.info/languages/west frisian.php
https://www.worlddata.info/languages/irish.php
https://www.worlddata.info/languages/gan chinese.php
https://www.worlddata.info/languages/garhwali.php
https://www.worlddata.info/languages/scottish gaelic.php
https://www.worlddata.info/languages/gilbertese.php
https://www.worlddata.info/languages/galician.php
https://www.worlddata.info/languages/guarani.php
https://www.worlddata.info/languages/gothic.php
https://www.worlddata.info/languages/gujarati.php
https://www.worlddata.info/languages/manx.php
https://www.worlddata.info/languages/hausa.php
https://www.worlddata.info/languages/hakka chinese.php
https://www.worlddata.info/languages/hawaiian.php
https://www.worlddata.info/languages/hebrew.php
https://www.worlddata.info/languages/hindi.php
https://www.worlddata.info/languages/hiri motu.php
https://www.worlddata.info/languages/croatian.php
https://www.worlddata.info/languages/haitian.php
https://www.worlddata.info/languages/hungarian.php
https://www.worlddata.info/languages/armenian.php
https://www.worlddata.info/languages/herero.php
https://www.worlddata.info/languages/interlingua.php
https://www.worlddata.info/languages/indonesian.php
https://www.worlddata.info/languages/interlingue.php
https://www.worlddata.info/languages/igbo.php
https://www.worlddata.info/languages/sichuan yi.php
https://www.worlddata.info/languages/inupiak.php
https://www.worlddata.info/languages/ilokano.php
https://www.worlddata.info/languages/ingush.php
https://www.worlddata.info/languages/ido.php
https://www.worlddata.info/languages/icelandic.php
https://www.worlddata.info/languages/italian.php
https://www.worlddata.info/languages/inuktitut.php
https://www.worlddata.info/languages/japanese.php
https://www.worlddata.info/languages/lojban.php
https://www.worlddata.info/languages/javanese.php
https://www.worlddata.info/languages/georgian.php
https://www.worlddata.info/languages/kongo.php
https://www.worlddata.info/languages/kikuyu.php
https://www.worlddata.info/languages/kuanyama.php
https://www.worlddata.info/languages/kazakh.php
https://www.worlddata.info/languages/greenlandic.php
https://www.worlddata.info/languages/cambodian.php
https://www.worlddata.info/languages/kannada.php
https://www.worlddata.info/languages/khowar.php
https://www.worlddata.info/languages/korean.php
https://www.worlddata.info/languages/kanuri.php
https://www.worlddata.info/languages/kashmiri.php
https://www.worlddata.info/languages/ripuarian.php
https://www.worlddata.info/languages/kurdish (kurmanji).php
https://www.worlddata.info/languages/komi.php
https://www.worlddata.info/languages/cornish.php
https://www.worlddata.info/languages/kirghiz.php
https://www.worlddata.info/languages/latin.php
https://www.worlddata.info/languages/lango.php
https://www.worlddata.info/languages/luxembourgish.php
https://www.worlddata.info/languages/ganda.php
https://www.worlddata.info/languages/limburgian.php
https://www.worlddata.info/languages/ligurian.php
https://www.worlddata.info/languages/lombard.php
https://www.worlddata.info/languages/lingala.php
https://www.worlddata.info/languages/laotian.php
https://www.worlddata.info/languages/laz.php
https://www.worlddata.info/languages/lithuanian.php
https://www.worlddata.info/languages/latvian.php
https://www.worlddata.info/languages/banyumasan.php
https://www.worlddata.info/languages/malagasy.php
https://www.worlddata.info/languages/mandarin.php
https://www.worlddata.info/languages/marshallese.php
https://www.worlddata.info/languages/māori.php
https://www.worlddata.info/languages/minangkabau.php
https://www.worlddata.info/languages/macedonian.php
https://www.worlddata.info/languages/malayalam.php
https://www.worlddata.info/languages/mongolian.php
https://www.worlddata.info/languages/moldovan.php
https://www.worlddata.info/languages/marathi.php
https://www.worlddata.info/languages/mara.php
https://www.worlddata.info/languages/malay.php
https://www.worlddata.info/languages/maltese.php
https://www.worlddata.info/languages/mirandese.php
https://www.worlddata.info/languages/burmese.php
https://www.worlddata.info/languages/nauruan.php
https://www.worlddata.info/languages/nahuatl.php
https://www.worlddata.info/languages/neapolitan.php
https://www.worlddata.info/languages/north ndebele.php
https://www.worlddata.info/languages/dutch low saxon.php
https://www.worlddata.info/languages/nepali.php
https://www.worlddata.info/languages/newar.php
https://www.worlddata.info/languages/ndonga.php
https://www.worlddata.info/languages/dutch.php
https://www.worlddata.info/languages/norwegian nynorsk.php
https://www.worlddata.info/languages/norwegian.php
https://www.worlddata.info/languages/south ndebele.php
https://www.worlddata.info/languages/northern sotho.php
https://www.worlddata.info/languages/norman.php
https://www.worlddata.info/languages/navajo.php
https://www.worlddata.info/languages/chichewa.php
https://www.worlddata.info/languages/occitan.php
https://www.worlddata.info/languages/ojibwa.php
https://www.worlddata.info/languages/oromo.php
https://www.worlddata.info/languages/oriya.php
https://www.worlddata.info/languages/pangasinan.php
https://www.worlddata.info/languages/kapampangan.php
https://www.worlddata.info/languages/papiamentu.php
https://www.worlddata.info/languages/pennsylvania german.php
https://www.worlddata.info/languages/pali.php
https://www.worlddata.info/languages/norfolk.php
https://www.worlddata.info/languages/polish.php
https://www.worlddata.info/languages/piedmontese.php
https://www.worlddata.info/languages/pashto.php
https://www.worlddata.info/languages/portuguese.php
https://www.worlddata.info/languages/quechua.php
https://www.worlddata.info/languages/raeto romance.php
https://www.worlddata.info/languages/romani.php
https://www.worlddata.info/languages/kirundi.php
https://www.worlddata.info/languages/romanian.php
https://www.worlddata.info/languages/aromanian.php
https://www.worlddata.info/languages/russian.php
https://www.worlddata.info/languages/rwandi.php
https://www.worlddata.info/languages/sanskrit.php
https://www.worlddata.info/languages/sardinian.php
https://www.worlddata.info/languages/sicilian.php
https://www.worlddata.info/languages/scots.php
https://www.worlddata.info/languages/sindhi.php
https://www.worlddata.info/languages/northern sami.php
https://www.worlddata.info/languages/sango.php
https://www.worlddata.info/languages/serbo-croatian.php
https://www.worlddata.info/languages/sinhalese.php
https://www.worlddata.info/languages/simple english.php
https://www.worlddata.info/languages/slovak.php
https://www.worlddata.info/languages/slovenian.php
https://www.worlddata.info/languages/samoan.php
https://www.worlddata.info/languages/shona.php
https://www.worlddata.info/languages/somalia.php
https://www.worlddata.info/languages/albanian.php
https://www.worlddata.info/languages/serbian.php
https://www.worlddata.info/languages/swati.php
https://www.worlddata.info/languages/southern sotho.php
https://www.worlddata.info/languages/sundanese.php
https://www.worlddata.info/languages/swedish.php
https://www.worlddata.info/languages/swahili.php
https://www.worlddata.info/languages/tamil.php
https://www.worlddata.info/languages/telugu.php
https://www.worlddata.info/languages/tetum.php
https://www.worlddata.info/languages/tajik.php
https://www.worlddata.info/languages/thai.php
https://www.worlddata.info/languages/tigrinya.php
https://www.worlddata.info/languages/turkmen.php
https://www.worlddata.info/languages/tagalog.php
https://www.worlddata.info/languages/klingon.php
https://www.worlddata.info/languages/tswana.php
https://www.worlddata.info/languages/tonga.php
https://www.worlddata.info/languages/tok pisin.php
https://www.worlddata.info/languages/turkish.php
https://www.worlddata.info/languages/tsonga.php
https://www.worlddata.info/languages/tatar.php
https://www.worlddata.info/languages/tumbuka.php
https://www.worlddata.info/languages/twi.php
https://www.worlddata.info/languages/tahitian.php
https://www.worlddata.info/languages/udmurt.php
https://www.worlddata.info/languages/uyghur.php
https://www.worlddata.info/languages/ukrainian.php
https://www.worlddata.info/languages/urdu.php
https://www.worlddata.info/languages/uzbek.php
https://www.worlddata.info/languages/uzbeki afghanistan.php
https://www.worlddata.info/languages/venda.php
https://www.worlddata.info/languages/vietnamese.php
https://www.worlddata.info/languages/venetian.php
https://www.worlddata.info/languages/west flemish.php
https://www.worlddata.info/languages/volapük.php
https://www.worlddata.info/languages/walloon.php
https://www.worlddata.info/languages/wolof.php
https://www.worlddata.info/languages/kalmyk.php
https://www.worlddata.info/languages/xhosa.php
https://www.worlddata.info/languages/megrelian.php
https://www.worlddata.info/languages/yiddish.php
https://www.worlddata.info/languages/yoruba.php
https://www.worlddata.info/languages/zhuang.php
https://www.worlddata.info/languages/moroccan amazigh.php
https://www.worlddata.info/languages/chinese.php
https://www.worlddata.info/languages/classical chinese.php
https://www.worlddata.info/languages/minnan.php
https://www.worlddata.info/languages/cantonese.php
https://www.worlddata.info/languages/zulu.php
https://www.worlddata.info/languages/none.php
https://www.worlddata.info/languages/traditional chinese.php
https://www.worlddata.info/languages/norwegian bokmål.php
https://www.worlddata.info/languages/tokipona.php

In [15]:
df.head()

,Country,Region,Official language,Distribution,Total,Language
0,Ethiopia,Eastern Africa,no,1.7 %,"2,045,000",Afar
1,Djibouti,Eastern Africa,no,31.5 %,"348,000",Afar
2,Eritrea,Eastern Africa,no,4.3 %,"156,000",Afar
3,South Africa,Southern Africa,yes,13.5 %,"8,018,000",Afrikaans
4,Namibia,Southern Africa,no,10.4 %,"263,000",Afrikaans

In [16]:
df_language = df.copy()

## Join Tables

In [17]:
df_language[df_language['Language'] == 'Afar']

    Country          Region Official language Distribution      Total Language
0  Ethiopia  Eastern Africa                no        1.7 %  2,045,000     Afar
1  Djibouti  Eastern Africa                no       31.5 %    348,000     Afar
2   Eritrea  Eastern Africa                no        4.3 %    156,000     Afar

In [18]:
df_language['Total'] = df_language['Total'].str.replace(',', '').astype(int)

In [19]:
df_total = df_language.groupby(['Language'])['Total'].sum().reset_index()
df_total.rename(columns = {'Total' : 'Worldwide total'}, inplace = True)
df_total[df_total['Language'] == 'Chinese']

   Language  Worldwide total
27  Chinese       1362820200

In [20]:
language_output = pd.merge(df_language[['Country', 'Language', 'Official language', 'Total']], 
                           df_total[['Language', 'Worldwide total']], on = ['Language'])
language_output = language_output.merge(language_mapping[['code', 'Englishlanguage name']],
                                                        left_on = 'Language',  right_on = 'Englishlanguage name')

In [21]:
language_output[language_output['Language'] == 'Finnish']

,Country,Language,Official language,Total,Worldwide total,code,Englishlanguage name
270,Finland,Finnish,yes,5164000,5424000,fi,Finnish
271,Sweden,Finnish,no,250000,5424000,fi,Finnish
272,Estonia,Finnish,no,9000,5424000,fi,Finnish
273,Åland Islands,Finnish,no,1000,5424000,fi,Finnish

In [22]:
language_output = language_output[['code', 'Language', 'Country', 'Official language', 'Total', 'Worldwide total']]

In [23]:
import boto3
import io

In [24]:
def to_s3(filename, output_bucket, content):
    client = boto3.client('s3')
    client.put_object(Bucket=output_bucket, Key=filename, Body=content)

In [25]:
output_bucket = 'hbo-outbound-datascience-content-dev'
s3 = boto3.resource('s3')
bucket = s3.Bucket(output_bucket)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/boto3/compat.py:88: PythonDeprecationWarning: Boto3 will no longer support Python 3.6 starting May 30, 2022. To continue receiving service updates, bug fixes, and security updates please upgrade to Python 3.7 or later. More information can be found here: https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/
  warnings.warn(warning, PythonDeprecationWarning)

In [26]:
csv_buffer = io.StringIO()
language_output.to_csv(csv_buffer, index = False)
content = csv_buffer.getvalue()
filename = 'market_share_of_demand/Language_Country_Mapping_all.csv'
to_s3(filename, output_bucket, content)

In [27]:
# general
import boto3
import datetime as dt
import json
import numpy as np
import pandas as pd
import snowflake.connector

from scipy.spatial.distance import squareform
#from scipy.cluster.hierarchy import ward
from scipy.cluster.hierarchy import  linkage
from scipy.cluster.hierarchy import fcluster

In [28]:
pd.set_option('display.max_rows', 1000)

### 0.2 : Connection to Snowflake

In [29]:
from abc import ABCMeta, abstractmethod

class Credentials(metaclass=ABCMeta):
    pass
    
    
class SSMPSCredentials(Credentials):
    def __init__(self, secretid: str):
        self._secretid = secretid
        self._secrets = {}
        
    def get_keys(self):
        """
        credential fetching 
        """
        _aws_sm_args = {'service_name': 'secretsmanager', 'region_name': 'us-east-1'}
        secrets_client = boto3.client(**_aws_sm_args)
        get_secret_value_response = secrets_client.get_secret_value(SecretId=self._secretid)
        return get_secret_value_response
    
    
class BaseConnector(metaclass=ABCMeta):
    @abstractmethod
    def connect(self):
        raise NotImplementedError
    

class SnowflakeConnector(BaseConnector):
    def __init__(self, credentials: Credentials):
        keys = credentials.get_keys()
        self._secrets = json.loads(keys.get('SecretString', "{}"))

    def connect(self, dbname: str, schema: str = 'DEFAULT'):
        ctx = snowflake.connector.connect(
            user=self._secrets['login_name'],
            password=self._secrets['login_password'],
            account=self._secrets['account'],
            warehouse=self._secrets['warehouse'],
            database=dbname,
            schema=schema
        )

        return ctx
    
## Credentials
SF_CREDS = 'datascience-max-dev-sagemaker-notebooks'

## Snowflake connection 
conn=SnowflakeConnector(SSMPSCredentials(SF_CREDS))
ctx=conn.connect("MAX_DEV","WORKSPACE")

def run_query(query):
    cursor = ctx.cursor()
    cursor.execute(query)
    df = pd.DataFrame(cursor.fetchall(), columns = [desc[0] for desc in cursor.description])
    df.columns= df.columns.str.lower()
    return df

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/boto3/compat.py:88: PythonDeprecationWarning: Boto3 will no longer support Python 3.6 starting May 30, 2022. To continue receiving service updates, bug fixes, and security updates please upgrade to Python 3.7 or later. More information can be found here: https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/
  warnings.warn(warning, PythonDeprecationWarning)

In [31]:
language_output.head()

  code   Language       Country Official language    Total  Worldwide total
0   aa       Afar      Ethiopia                no  2045000          2549000
1   aa       Afar      Djibouti                no   348000          2549000
2   aa       Afar       Eritrea                no   156000          2549000
3   af  Afrikaans  South Africa               yes  8018000          8281000
4   af  Afrikaans       Namibia                no   263000          8281000

In [33]:
run_query('''
create or replace table max_prod.workspace.MARKET_DEMAND_LANGURAGE_COUNTRY_MAPPING 
(
Language VARCHAR,
Languag_name	VARCHAR, 
Country VARCHAR,  
OFFICIAL_LANGUAGE	VARCHAR, 
POPULATION	bigint, 
TOTAL bigint
)
''')

                                              status
0  Table MARKET_DEMAND_LANGURAGE_COUNTRY_MAPPING ...

In [34]:
run_query('''
copy into max_prod.WORKSPACE.MARKET_DEMAND_LANGURAGE_COUNTRY_MAPPING
    from(
        select
              $1, $2, $3, $4, $5, $6
        from @HBO_OUTBOUND_DATASCIENCE_CONTENT_DEV/market_share_of_demand/Language_Country_Mapping_all.csv
        )
    file_format = (type = csv null_if=('') skip_header = 1  FIELD_OPTIONALLY_ENCLOSED_BY='"')
    on_error = 'CONTINUE';

''')

,file,status,rows_parsed,rows_loaded,error_limit,errors_seen,first_error,first_error_line,first_error_character,first_error_column_name
0,s3://hbo-outbound-datascience-content-dev/mark...,LOADED,769,769,769,0,None,None,None,None

In [35]:
run_query('''
create or replace table max_prod.workspace.MARKET_DEMAND_LANGURAGE_COUNTRY_MAPPING  as 
SELECT *, POPULATION/TOTAL AS PERCENTAGE
FROM max_prod.workspace.MARKET_DEMAND_LANGURAGE_COUNTRY_MAPPING
''')

                                              status
0  Table MARKET_DEMAND_LANGURAGE_COUNTRY_MAPPING ...