In [1]:
import boto3
import datetime as dt
import json
import numpy as np
import pandas as pd
import snowflake.connector
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [2]:
pd.options.display.float_format = '{:,.4f}'.format

In [3]:
from abc import ABCMeta, abstractmethod

class Credentials(metaclass=ABCMeta):
    pass
    
    
class SSMPSCredentials(Credentials):
    def __init__(self, secretid: str):
        self._secretid = secretid
        self._secrets = {}
        
    def get_keys(self):
        """
        credential fetching 
        """
        _aws_sm_args = {'service_name': 'secretsmanager', 'region_name': 'us-east-1'}
        secrets_client = boto3.client(**_aws_sm_args)
        get_secret_value_response = secrets_client.get_secret_value(SecretId=self._secretid)
        return get_secret_value_response
    
    
class BaseConnector(metaclass=ABCMeta):
    @abstractmethod
    def connect(self):
        raise NotImplementedError
    

class SnowflakeConnector(BaseConnector):
    def __init__(self, credentials: Credentials):
        keys = credentials.get_keys()
        self._secrets = json.loads(keys.get('SecretString', "{}"))

    def connect(self, dbname: str, schema: str = 'DEFAULT'):
        ctx = snowflake.connector.connect(
            user=self._secrets['login_name'],
            password=self._secrets['login_password'],
            account=self._secrets['account'],
            warehouse=self._secrets['warehouse'],
            database=dbname,
            schema=schema
        )

        return ctx
    
## Credentials
SF_CREDS = 'datascience-max-dev-sagemaker-notebooks'

## Snowflake connection 
conn=SnowflakeConnector(SSMPSCredentials(SF_CREDS))
ctx=conn.connect("MAX_DEV","WORKSPACE")

def run_query(query):
    cursor = ctx.cursor()
    cursor.execute(query)
    df = pd.DataFrame(cursor.fetchall(), columns = [desc[0] for desc in cursor.description])
    df.columns= df.columns.str.lower()
    return df

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/boto3/compat.py:88: PythonDeprecationWarning: Boto3 will no longer support Python 3.6 starting May 30, 2022. To continue receiving service updates, bug fixes, and security updates please upgrade to Python 3.7 or later. More information can be found here: https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/
  warnings.warn(warning, PythonDeprecationWarning)

# Retail Hours

In [4]:
title_info = run_query('''
with offerings as (select DISTINCT
            case when season_number is not null then concat(title_name, ' S', season_number, ('E'), EPISODE_NUMBER_IN_SEASON)
            else title_name end as title_episode_name
    , title_name
    , rad.VIEWABLE_ID
    , concat(coalesce(rad.series_id, rad.viewable_id)) as title_id
    , rad.SERIES_ID
    , rad.SEASON_NUMBER
    , EPISODE_NUMBER_IN_SEASON
    , content_category
    , PRIMARY_GENRE_DESC
    , program_type
    , aod.air_date
    , ASSET_RUN_TIME
    , offering_start_date
    , offering_end_date
     FROM "MAX_PROD"."CATALOG"."ASSET_OFFERING_DIM" aod
LEFT JOIN "MAX_PROD"."CATALOG"."REPORTING_ASSET_DIM" rad ON aod.VIEWABLE_ID = rad.VIEWABLE_ID
where territory='HBO MAX DOMESTIC'
    and channel = 'HBO MAX SUBSCRIPTION'
    and OFFERING_TYPE = 'FEATURE')

, airtable as (
    select DISTINCT title_id 
    , MIN(PILLAR_GENRE) as PILLAR_GENRE -- multiple PILLAR GENRE assignments for a single VIEWABLE_ID, taking at random.
    from max_prod.catalog.airtable_content_strategy group by title_id)

, pay1 as (
    SELECT DISTINCT viewable_id, is_pay_1
    FROM max_prod.staging.tentpole_titles_stg stg
    WHERE stg.territory = 'HBO MAX DOMESTIC'
    and stg.theatrical_release_date is not null
    and stg.is_pay_1 =1
)

, budget as (
    SELECT DISTINCT map.viewable_id, bdg.AMOUNT as budget
    FROM "MAX_PROD"."CKG".IMDB_BOXOFFICE_TITLE_BUDGET bdg
    JOIN max_prod.ckg.ed_wm_wb_imdb_mapping map --vid to imdb_id
    ON map.imdb_id=bdg.title_id
)

,offerings_by_date as (
select
     TITLE_NAME, title_episode_name
    , offerings.VIEWABLE_ID
    , offerings.title_id, offerings.SEASON_NUMBER
    , CONTENT_CATEGORY, program_type, air_date
    , am.home_territory_observed_medal as medal
    , CAST(FLOOR(COALESCE( (ASSET_RUN_TIME)/60/60 ,0)*(1000000*1.0)) AS DECIMAL(38,0))
          / CAST((1000000*1.0) AS DOUBLE PRECISION) as ASSET_RUN_TIME_HOURS -- to prevent floating point errors
    , case when to_date(offerings.offering_start_date) < '2020-05-27' THEN to_date('2020-05-27')
           ELSE to_date(offerings.offering_start_date)
           end as offering_start_date
    , to_date(offerings.offering_end_date) as offering_end_date
    , PRIMARY_GENRE_DESC
    , aos.PILLAR_GENRE as PILLAR_GENRE
    , EPISODE_NUMBER_IN_SEASON
    , CASE WHEN pay1.is_pay_1 IS NOT NULL THEN 1 ELSE 0 END AS is_pay_1
    , CASE WHEN pop.THEATRICAL_RELEASE_DATE IS NOT NULL THEN 1 ELSE 0 END AS is_popcorn
    , MAX(budget) AS budget 
FROM offerings
LEFT JOIN airtable aos ON (offerings.title_id = aos.title_id)
LEFT JOIN max_prod.content_analytics.asset_medals am 
        on offerings.title_id = am.title_id
        and coalesce(offerings.season_number,0) = coalesce(am.season,0)
LEFT JOIN pay1
        on pay1.viewable_id = offerings.viewable_id
LEFT JOIN max_prod.catalog.popcorn_titles pop 
        on pop.viewable_id = offerings.viewable_id
LEFT JOIN budget
        on budget.viewable_id = offerings.viewable_id
WHERE 1=1
-- offerings.OFFERING_START_DATE > '2020-05-01'
-- and CURRENT_DATE() between (OFFERING_START_DATE) and (OFFERING_END_DATE)
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
)

SELECT * FROM offerings_by_date
''')

In [5]:
### DE-DUPTE THE TITLES

title_test_dedup = title_info.groupby(['viewable_id'])['offering_start_date'].min().reset_index()
title_info = title_info.merge(title_test_dedup, on = ['viewable_id', 'offering_start_date'])

title_test_dedup = title_info.groupby(['viewable_id'])['offering_end_date'].max().reset_index()
title_info = title_info.merge(title_test_dedup, on = ['viewable_id', 'offering_end_date'])

title_info['medal'] = title_info['medal'].fillna('None')
title_test_dedup = title_info.groupby(['viewable_id'])['medal'].max().reset_index()
title_info = title_info.merge(title_test_dedup, on = ['viewable_id', 'medal'])


title_info = title_info.drop_duplicates()
title_info['season_number'] = title_info['season_number'].fillna(0)

In [6]:
title_info.count()

title_name                  42527
title_episode_name          42527
viewable_id                 42527
title_id                    42527
season_number               42527
content_category            42161
program_type                42178
air_date                    42260
medal                       42527
asset_run_time_hours        42527
offering_start_date         42527
offering_end_date           42527
primary_genre_desc          41283
pillar_genre                37012
episode_number_in_season    35491
is_pay_1                    42527
is_popcorn                  42527
budget                       3644
dtype: int64

In [7]:
### SANITY CHECK
title_test = title_info.groupby(['viewable_id']).count()
title_test[title_test['title_name'] == 2]

Empty DataFrame
Columns: [title_name, title_episode_name, title_id, season_number, content_category, program_type, air_date, medal, asset_run_time_hours, offering_start_date, offering_end_date, primary_genre_desc, pillar_genre, episode_number_in_season, is_pay_1, is_popcorn, budget]
Index: []

In [8]:
title_series_info = title_info.groupby(['title_id', 'season_number'])['offering_start_date'].min().reset_index()

title_series_test = title_info.groupby(['title_id', 'season_number'])['asset_run_time_hours'].sum().reset_index()
title_series_info = title_series_info.merge(title_series_test, on = ['title_id', 'season_number'])

title_series_test = title_info.groupby(['title_id', 'season_number'])[['content_category', 'program_type', 'air_date', 'medal', 'episode_number_in_season',
                                                                       'pillar_genre', 'is_pay_1', 'is_popcorn', 'budget']].max().reset_index()
title_series_info = title_series_info.merge(title_series_test, on = ['title_id', 'season_number'])

In [9]:
title_hours_viewed = run_query('''
SELECT e.title_name, t.title_id, t.season_number, h.request_date, t.offering_start_date
,days_on_hbo_max
,SUM(h.hours_viewed) AS daily_hours_viewed
,SUM(daily_hours_viewed) OVER (PARTITION BY t.title_id, t.season_number order by DAYS_ON_HBO_MAX) as cumulative_hours_viewed
,cumulative_hours_viewed/subs as average_hours_viewed
FROM MAX_DEV.WORKSPACE.user_title_hours_watched_test2 h
JOIN (SELECT DISTINCT viewable_id, title_id, season_number, title_name FROM
    max_dev.workspace.user_title_hours_watched_episodic_info)  e
    on h.viewable_id = e.viewable_id
JOIN max_dev.workspace.user_title_hours_watched_title_series_info    t
    on e.title_id = t.title_id
    and e.season_number = t.season_number
JOIN max_dev.workspace.user_title_hours_watched_subs s
    on t.offering_start_date = s.start_date
    and DATEDIFF('DAY', t.offering_start_date::DATE, h.request_date::DATE) = s.days_on_hbo_max
WHERE 1=1
AND DATEDIFF('DAY', t.offering_start_date::DATE, h.request_date::DATE) >= 0
GROUP BY 1,2,3,4,5,6,subs
ORDER BY t.TITLE_ID, t.SEASON_NUMBER, DAYS_ON_HBO_MAX
''')

In [10]:
data = title_hours_viewed[['title_name', 'title_id', 'season_number', 'days_on_hbo_max', 'cumulative_hours_viewed', 'average_hours_viewed']].merge(
       title_series_info, on = ['title_id', 'season_number'])
# data = data[data['days_on_hbo_max'] == 60]
data['hvr'] = data['cumulative_hours_viewed']/data['asset_run_time_hours']
data['ahvr'] = data['average_hours_viewed']/data['asset_run_time_hours']

In [11]:
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [12]:
data['title_season_name'] = data['title_name']
data.loc[data['season_number']>0, 'title_season_name'] = data['title_name'] + ' S' + data['season_number'].astype(str)

In [13]:
data['match_id'] = data['title_id']
data.loc[data['season_number']>0, 'match_id'] = data['title_id'] + ' S' + data['season_number'].astype(str)

In [19]:
full_data = data.copy()

In [20]:
test_60 = full_data[(full_data['days_on_hbo_max'] == 60) ]

In [21]:
test_90 = full_data[(full_data['days_on_hbo_max'] == 91)][['match_id', 'ahvr']].rename(columns = {'ahvr':'ahvr_90'})

In [22]:
test_60 = test_60[['title_name', 'title_id', 'season_number', 'match_id', 'offering_start_date', 'ahvr']]\
          .merge(test_90, on = ['match_id'])

In [23]:
ever_green_titles = test_60[(test_60['ahvr'] >= 0.015)
       &(test_60['ahvr_90'] >= 1.4*test_60['ahvr'])].sort_values(by = ['title_id'], ascending = False)

In [24]:
ever_green_titles.to_csv('ever_green_titles.csv')

## Monthly average hours viewed

In [25]:
monthly_title_hours_viewed = run_query('''
WITH cum AS (
            SELECT e.title_name, t.title_id, t.season_number, h.request_date, t.offering_start_date,
            DATEDIFF('DAY', t.offering_start_date, h.request_date::DATE) as days_on_hbo_max
            ,floor(days_on_hbo_max/7) as num_of_week
            ,SUM(h.hours_viewed) AS daily_hours_viewed
            FROM MAX_DEV.WORKSPACE.user_title_hours_watched_test2 h
            JOIN (SELECT DISTINCT viewable_id, title_id, season_number, title_name FROM
                max_dev.workspace.user_title_hours_watched_episodic_info)  e
                on h.viewable_id = e.viewable_id
            JOIN max_dev.workspace.user_title_hours_watched_title_series_info t
                on e.title_id = t.title_id
                and e.season_number = t.season_number
            WHERE 1=1
            AND days_on_hbo_max >= 0
            --AND t.title_id = 'GYYxBtQFFnmbDBwEAAAAE'
            GROUP BY 1,2,3,4,5,6
)

SELECT c.title_name, c.title_id, c.season_number, c.offering_start_date, start_date, end_date, num_of_week,
SUM(daily_hours_viewed) AS monthly_hours_viewed, monthly_hours_viewed/subs AS monthly_average_hours_viewed
FROM cum c
JOIN max_dev.workspace.user_title_hours_watched_subs s
    on DATEADD('WEEK', num_of_week, offering_start_date) = s.start_date
and s.days_on_hbo_max = 7
GROUP BY 1,2,3,4,5,6,7,subs 

''')

In [26]:
monthly_data = monthly_title_hours_viewed[['title_name', 'title_id', 'season_number', 'num_of_week', 'monthly_hours_viewed', 'monthly_average_hours_viewed']].merge(
       title_series_info, on = ['title_id', 'season_number'])
monthly_data['days_on_hbo_max'] = monthly_data['num_of_week']*7+7
# data = data[data['days_on_hbo_max'] == 60]
monthly_data['monthly_hours_viewed'] = monthly_data['monthly_hours_viewed']/monthly_data['asset_run_time_hours']
monthly_data['monthly_average_hours_viewed'] = monthly_data['monthly_average_hours_viewed']/monthly_data['asset_run_time_hours']

In [27]:
monthly_data = monthly_data.sort_values(by = ['title_id', 'season_number', 'num_of_week'])

In [28]:
monthly_data['title_season_name'] = monthly_data['title_name']
monthly_data.loc[monthly_data['season_number']>0, 'title_season_name'] = monthly_data['title_name'] + ' S' + monthly_data['season_number'].astype(str)

In [29]:
monthly_data['match_id'] = monthly_data['title_id']
monthly_data.loc[monthly_data['season_number']>0, 'match_id'] = monthly_data['title_id'] + ' S' + monthly_data['season_number'].astype(str)

In [30]:
ever_green_titles = pd.read_csv('ever_green_titles.csv')

In [31]:
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

In [ ]:
n = len(ever_green_titles.title_id.unique())
fig, ax = plt.subplots(n,1,figsize=(8, 100))
title_list = ever_green_titles.title_id.unique()

for i in range(0, n, 1):
    title_id = title_list[i]
    plot_df = monthly_data[monthly_data['title_id'] == title_id]    
    
    ax1 = ax[i]
    for t in match_id in plot_df.match_id.unique():
        sub_plot = plot_df[plot_df['match_id'] == t]
        title = sub_plot.title_season_name.unique()[0]
        ax1.plot(sub_plot['days_on_hbo_max'], sub_plot['monthly_average_hours_viewed'], 
             label= title)

    ax1.set_xlabel('days_on_hbo_max')
    ax1.legend()

plt.show()